:root {
    --text-color: #fff;
    --background-color: #303030;
    --site-padding: 40px;
}

@font-face {
    font-family: 'SF Pro';
    src:
        url("fonts/SF-Pro-Text-Regular.woff2") format("woff2"),
        url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro';
    src:
        url("fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
        url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--site-padding);
    margin: 0px;
}

img {
    /* image can neither grow nor shrink and wants its natural size */
    flex: 0 0 auto;
}

main {
    /* main uses responsive horizontal layout */
    display: flex;
    flex-wrap: wrap;
    gap: 36px 20px;  /* row-gap column-gap */
    align-items: start;
    padding-bottom: 100px; /* compensate for fixed footer */
}

main #content {
    /* content can grow and shrink but wants 300px size */
    flex: 1 1 300px;
}

footer {
    padding: var(--site-padding);
    background-color: var(--background-color);

    /* footer is fixed to the bottom of the screen */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    /* footer uses responsive horizontal layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer > div:first-child {
    /* first footer element can neither grow nor shrink and wants 300px size */
    flex: 0 0 300px;
}

a {
    /* links have no special color */
    color: #fed800;
    text-decoration: none;
}

a:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: 5px;
    border-radius: 5px;
}

table {
    /* table borders take up no space */
    border-spacing: 0;
}

td {
    /* table cells are fully left-aligned */
    padding-left: 0;
    /* table cells are top-aligned */
    vertical-align: top;
}